<% titulo = "NUEVO PRODUCTO" %>
   
<%- include('../partials/header',{hojaDeEstilo:"/css/stylesProdEdit.css",titulo:titulo}) %>

<main>
    <div class="espacio-header"></div>
    <div class="volver-tachito">
        <a href="/products/prodMaster/list" class="boton-volver"><button><i class="fa-solid fa-arrow-left"></i>VOLVER AL MAESTRO</button></a>
    </div>
    <div class="info-producto">
        <form action="/products/prodMaster/newProduct" method="POST" enctype="multipart/form-data">
            <h2>NUEVO PRODUCTO</h2>
            <div class="info-prod">
                <label class="titulo-campo" for="nombreProducto">NOMBRE:</label>
                <input type="text" class="campo-informacion" name="nombreProducto" id="nombreProducto" placeholder="NOMBRE DE PRODUCTO" value="<%=locals.oldInfo && oldInfo.nombreProducto ? oldInfo.nombreProducto : null %>">
            </div>
            <% if (locals.mensajesError && locals.mensajesError.nombreProducto){ %>
                <p class="feedback"><%=mensajesError.nombreProducto.msg %></p>
            <% } %>
            <div class="info-prod">
                <label class="titulo-campo" for="categoria">CATEGORIA:</label>
                <select class="campo-informacion" name="categoria" id="categoria">
                    <option value="" selected>ELEGIR</option>
                    <% categorias.forEach(categoria => { %>
                        <option value="<%= categoria.id %>" <%= locals.oldInfo && oldInfo.categoria == categoria.id ? "selected" : '' %>><%= categoria.categoria %></option>    
                    <% }) %>
                </select>
            </div>
            <% if (locals.mensajesError && locals.mensajesError.categoria){ %>
                <p class="feedback"><%=mensajesError.categoria.msg %></p>
            <% } %>
            <div class="info-prod">
                <label class="titulo-campo" for="sub-categoria">SUB CATEGORIA:</label>
                <select class="campo-informacion" name="subcategoria" id="sub-categoria">
                    <option value="" selected>ELEGIR</option>
                    <% subcategorias.forEach(subcategoria => { %>
                        <option value="<%= subcategoria.id %>" <%= locals.oldInfo && oldInfo.subcategoria == subcategoria.id ? "selected" : '' %>><%= subcategoria.subcategoria %></option>    
                    <% }) %>
                </select>
            </div>
            <% if (locals.mensajesError && locals.mensajesError.subcategoria){ %>
                <p class="feedback"><%=mensajesError.subcategoria.msg %></p>
            <% } %>
            <div class="info-prod">
                <label class="titulo-campo" for="estado">MARCA:</label>
                <select class="campo-informacion" name="marca" id="marca">
                    <option value="" selected>ELEGIR</option>
                    <% marcas.forEach(marca => { %>
                        <option value="<%= marca.id %>" <%= locals.oldInfo && oldInfo.marca == marca.id ? "selected" : '' %>><%= marca.marca %></option>    
                    <% }) %>
                </select>
            </div>
            <% if (locals.mensajesError && locals.mensajesError.marca){ %>
                <p class="feedback"><%=mensajesError.marca.msg %></p>
            <% } %>
            <div class="info-prod">
                <label class="titulo-campo" for="stock">STOCK:</label>
                <input type="text" class="campo-informacion" name="stock" id="stock" placeholder="STOCK" <%=locals.oldInfo && oldInfo.stock ? "value=" + oldInfo.stock : '' %>>
            </div>
            <% if (locals.mensajesError && locals.mensajesError.stock){ %>
                <p class="feedback"><%=mensajesError.stock.msg %></p>
            <% } %>
            <div class="info-prod">
                <label class="titulo-campo" for="precio">PRECIO: $</label>
                <input type="text" class="campo-informacion" name="precio" id="precio"  placeholder="PRECIO" <%=locals.oldInfo && oldInfo.precio ? "value=" + oldInfo.precio : '' %>>
            </div>
            <% if (locals.mensajesError && locals.mensajesError.precio){ %>
                <p class="feedback"><%=mensajesError.precio.msg %></p>
            <% } %>
            <div class="info-prod">
                <label class="titulo-campo" for="estado">ESTADO:</label>
                <select class="campo-informacion" name="estado" id="estado">
                    <option value="" selected>ELEGIR</option>
                    <% estados.forEach(estado => { %>
                        <option value="<%= estado.id %>" <%= locals.oldInfo && oldInfo.estado == estado.id ? "selected" : '' %>><%= estado.estado %></option>    
                    <% }) %>
                </select>
            </div>
            <% if (locals.mensajesError && locals.mensajesError.estado){ %>
                <p class="feedback"><%=mensajesError.estado.msg %></p>
            <% } %>
            <div class="info-prod">
                <label class="titulo-campo" for="precioAnt">DESCUENTO: % </label>
                <input type="text" class="campo-informacion" name="precioAnt" id="precioAnt" placeholder="DESCUENTO" <%=locals.oldInfo && oldInfo.precioAnt ? "value=" + oldInfo.precioAnt : '' %>>
            </div>
            <% if (locals.mensajesError && locals.mensajesError.precioAnt){ %>
                <p class="feedback"><%=mensajesError.precioAnt.msg %></p>
            <% } %>
            <div class="info-prod">
                <label class="titulo-campo" for="caracteristicas">CARACTERISTICAS:</label>
                <%=locals.oldInfo && oldInfo.caracteristicas ? textoCaracteristicas=oldInfo.caracteristicas : textoCaracteristicas='' %>
                <textarea name="caracteristicas" class="campo-informacion campo-caracteristicas" id="caracteristicas" placeholder="TITULO1:DESCRIPCION1| TITULO2:DESCRIPCION2| ..."><%= textoCaracteristicas %></textarea>
            </div>
            <% if (locals.mensajesError && locals.mensajesError.caracteristicas){ %>
                <p class="feedback"><%=mensajesError.caracteristicas.msg %></p>
            <% } %>
            <h3 class="tituloCaracteristica">TAMAÑOS</h3>
            <ul class="opciones-prod">
                <% tamanos.forEach(elemento => { %>
                    <li class="opcion-elegible">
                        <label for="<%= elemento.tamano %>">
                            <% let id = elemento.id.toString() %>
                            <input type="checkbox" class="opcion" name="tamanos" id="<%= elemento.tamano %>" value="<%= elemento.id %>" <%=locals.oldInfo && locals.oldInfo.tamanos && locals.oldInfo.tamanos.includes(id) ? "checked" : null %>>
                            <%= elemento.tamano %>
                        </label>
                    </li>
                <% }) %>
            </ul>
            <% if (locals.mensajesError && locals.mensajesError.tamanos){ %>
                <p class="feedback"><%=mensajesError.tamanos.msg %></p>
            <% } %>
            <h3 class="tituloCaracteristica">COLORES</h3>
            <ul class="opciones-prod">
                <% colores.forEach(elemento => { %>
                    <li class="opcion-elegible">
                        <label for="<%= elemento.color %>">
                            <% let id = elemento.id.toString() %>
                            <input type="checkbox" class="opcion" name="colores" id="<%= elemento.color %>" value="<%= elemento.id %>" <%=locals.oldInfo && locals.oldInfo.colores && locals.oldInfo.colores.includes(id) ? "checked" : null %>>
                            <%= elemento.color %>
                        </label>
                    </li>
                <% }) %>
            </ul>
            <% if (locals.mensajesError && locals.mensajesError.colores){ %>
                <p class="feedback"><%=mensajesError.colores.msg %></p>
            <% } %>
            <h3 class="tituloCaracteristica">IMAGENES</h3>
            <ul class="imagenes">
                <li class="imagenProd">
                    <label class="titulo-campo" for="nuevasImagenes">AGREGAR IMAGENES</label>
                    <input type="file" name="nuevasImagenes" id="nuevasImagenes" multiple>
                </li>    
            </ul>
            <% if (locals.mensajesError && locals.mensajesError.nuevasImagenes){ %>
                <p class="feedback"><%=mensajesError.nuevasImagenes.msg %></p>
            <% } %>
            <div class="botones">
                <input type="reset" value="Deshacer">
                <input type="submit" value="Siguiente">
            </div>
        </form>
    </div>
</main>

<%- include ("../partials/footer") %>