<%- include('../partials/header',{hojaDeEstilo:"/css/stylesProdDet.css",titulo:producto.nombre}) %>

<main>
    <div class="espacio-header"></div>
    <section class="producto">
        <div class="encabezado-producto">
            <h3 class="titulo-producto"><%= producto.nombre %></h3>
            <div class="calificacion">
                <% let nroEnt = producto.calif.split(".")[0] %>
                <% for (let i = 1; i<=nroEnt; i++) { %>
                    <i class="fa-solid fa-star"></i>
                <% } %>
                <% let nroDec = producto.calif.split(".")[1] %>
                <% if (nroDec != 0) { %>
                    <i class="fa-solid fa-star-half"></i></i>
                <% } %>
            </div>
        </div>
        <article class=imagenes>
            <div class="imagen-principal">
                <img src="/images/<%= producto.categoria %>/<%= producto.imagenes[0] %>" alt="Imagen 1">
            </div>
            <div class="imagenes-secundarias">
                <img src="/images/<%= producto.categoria %>/<%= producto.imagenes[1] %>" alt="Imagen 2" class="imagenes-seleccionables">
                <img src="/images/<%= producto.categoria %>/<%= producto.imagenes[2] %>" alt="Imagen 3" class="imagenes-seleccionables">
                <img src="/images/<%= producto.categoria %>/<%= producto.imagenes[3] %>" alt="Imagen 4" class="imagenes-seleccionables">
                <img src="/images/<%= producto.categoria %>/<%= producto.imagenes[4] %>" alt="Imagen 5" class="imagenes-seleccionables">
            </div>
        </article>
        <article class="informacion">
            <p class="precio-producto">$ <%= producto.precio %></p>
            <form class="opciones">
                <div class="cantidad">
                    <label for="cantidad">CANTIDAD</label>
                    <select name="cantidad" id="cantidad">
                        <% if(producto.stock > 10){stockLimite = 10} else{stockLimite = producto.stock} %>
                        <% for (let i = 1; i<=stockLimite; i++) { %>
                            <option value="<%= i %>"><%= i %></option>
                        <% } %>
                    </select>
                </div>
                <div class="color">
                    <label for="color" id="color">COLOR</label>
                    <select name="color" id="color">
                        <% for (let i = 0; i < producto.colores.length; i++){ %>
                            <option value="<%= producto.colores[i] %>"><%= producto.colores[i] %></option>
                        <% } %>
                    </select>
                </div>
                <div class="tamano">
                    <label for="tamano" id="tamano">TAMAÑO</label>
                    <select name="tamano" id="tamano">
                        <% for (let i = 0; i < producto.tamanos.length; i++){ %>
                            <option value="<%= producto.tamanos[i] %>"><%= producto.tamanos[i] %></option>
                        <% } %>
                    </select>
                </div>
                <div class="botones">
                    <input type="submit" value="AGREGAR AL CARRITO">
                    <input type="submit" value="COMPRAR">
                </div>
            </form>
        </article>
        <article class="caracteristicas">
            <h3>CARACTERISTICAS</h3>
            <ul>
                <% for (let i = 0;i < producto.caract.length; i++) { %>
                    <% let tituloCar = producto.caract[i].split(":")[0] %>
                    <% let detalleCar = producto.caract[i].split(":")[1] %>
                    <li><span class="titulo-caract"><%= tituloCar %>: </span><%= detalleCar %></li>
                <% } %>
            </ul>
        </article>
    </section>
    <section class="valoraciones">
        <h3 class="titulo-seccion">OPINIONES</h3>
        <ul class="opiniones">
            <% for (let i = 0;i < producto.opiniones.length;i++){ %>
                <% let tituloOpinion = producto.opiniones[i].split("_")[0] %>
                <% let califOpinion = producto.opiniones[i].split("_")[1] %>
                <% let detalleOpinion = producto.opiniones[i].split("_")[2] %>
                <li>
                    <h4><%= tituloOpinion %></h4>
                    <p class="calificacion-usuario">
                        <% let nroEnt = califOpinion.split(".")[0] %>
                        <% for (let i = 1; i<=nroEnt; i++) { %>
                            <i class="fa-solid fa-star"></i>
                        <% } %>
                        <% let nroDec = califOpinion.split(".")[1] %>
                        <% if (nroDec != 0) { %>
                            <i class="fa-solid fa-star-half"></i></i>
                        <% } %>
                    </p>
                    <p class="opinion-usuario"><%= detalleOpinion %></p>
                </li>
            <% } %>
        </ul>
    </section>
    <section class="productos-similares">
        <h3 class="titulo-seccion">PRODUCTOS SIMILARES</h3>
        <ul class="vinculos-productos">
            <% if(catalogoCategoria.length > 6) { %>
                <% cantProd = 5 %> 
            <% } else{ %> 
                <% cantProd = catalogoCategoria.length %>
            <% } %>
            <% for (let i=0;i < cantProd ;i++){ %>
                <% if (catalogoCategoria[i].codigo != producto.codigo){ %>
                    <li>
                        <a href="/products/<%= catalogoCategoria[i].codigo %>">
                            <img src="/images/<%= catalogoCategoria[i].categoria %>/<%= catalogoCategoria[i].imagenes[0] %>" alt="Otro Producto 1" class="imagenes-seleccionables">
                            <h3 class="precio-producto"> $ <%= catalogoCategoria[i].precio %></h3>
                            <h3 class="titulo-imagen"><%= catalogoCategoria[i].nombre %></h3>
                        </a>
                    </li>
                <% } %>
            <% } %>
        </ul>
    </section>
    <section class="productos-similares">
        <h3 class="titulo-seccion">PRODUCTOS QUE PODRÍAN INTERESARTE</h3>
        <ul class="vinculos-productos">
            <% if(otrosProd.length > 6) { %>
                <% cantProd = 5 %> 
            <% } else{ %> 
                <% cantProd = otrosProd.length %>
            <% } %>
            <% for (let i=0;i < cantProd ;i++){ %>
                <li>
                    <a href="/products/<%= otrosProd[i].codigo %>">
                        <img src="/images/<%= otrosProd[i].categoria %>/<%= otrosProd[i].imagenes[0] %>" alt="Otro Producto 1" class="imagenes-seleccionables">
                        <h3 class="precio-producto"> $ <%= otrosProd[i].precio %></h3>
                        <h3 class="titulo-imagen"><%= otrosProd[i].nombre %></h3>
                    </a>
                </li>
            <% } %>
        </ul>
    </section>
</main>

<%- include ("../partials/footer") %>