<%- include('../partials/header',{hojaDeEstilo:"/css/stylesProdMaster.css",titulo:"MAESTRO DE PRODUCTOS"}) %>

<main>
    <div class="espacio-header"></div>
    <ul>
        <li class="boton-nuevo">
            <a href="/products/prodMaster/newProduct" class="nuevo-producto"><button>NUEVO PRODUCTO</button></a>
        </li>
        <% catalogo.forEach(producto =>{ %>
            <li class="productos">
                <div class="imagen">
                    <% console.log(producto.imagenes[0].imagen) %>
                    <img src="/images/productos/<%= producto.imagenes[0].imagen %>" class="imagen-producto" alt="imagen">
                </div>
                <div class="detalle">
                    <h2 class="nombre-producto"><%= producto.nombre.slice(0,30) %></h2>
                    <div class="informacion-princiapl">
                        <p>PRECIO: $ <%= producto.precio %></p>
                        <p>STOCK: <%= producto.stock %></p>
                        <p>ESTADO: <%= producto.estados.estado %></p>
                    </div>
                    <a href="/products/prodMaster/edit/<%= producto.id %>" class="editar">Editar</a>
                </div>
            </li>
        <% }) %>
    </ul>
</main>

<%- include ("../partials/footer") %>