<% let titulo = "EDICION " + producto.nombre %>

<%- include('../partials/header',{hojaDeEstilo:"/css/stylesProdEdit.css",titulo:titulo}) %>

<main>
    <div class="espacio-header"></div>
    <div class="volver-tachito">
        <a href="/products/prodMaster/list" class="boton-volver"><button><i class="fa-solid fa-arrow-left"></i>VOLVER AL MAESTRO</button></a>
        <form action="/products/delete/<%= producto.id %>?_method=DELETE" class="boton-eliminar" method="POST">
            <button type="submit" class=""><i class="fa-solid fa-trash-can"></i></button>
        </form>
    </div>
    <div class="info-producto">
        <form action="/products/prodMaster/edit/<%= producto.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <h2><%= producto.nombre %> </h2>
            <h2>( <%= producto.id %> )</h2>
            <div class="info-prod">
                <label class="titulo-campo" for="nombreProducto">NOMBRE:</label>
                <input type="text" class="campo-informacion" name="nombreProducto" id="nombreProducto" placeholder="NOMBRE DE PRODUCTO" value="<%= producto.nombre %>">
            </div>
            <% if (locals.mensajesError && locals.mensajesError.nombreProducto){ %>
                <p class="feedback"><%=mensajesError.nombreProducto.msg %></p>
            <% } %>
            <span class="feedback errorFront errNom">Este campo debe tener como mínimo 5 caracteres</span>
            <div class="info-prod">
                <label class="titulo-campo" for="categoria">CATEGORIA:</label>
                <select class="campo-informacion" name="categoria" id="categoria">
                    <option value="" selected>ELEGIR</option>
                    <% categorias.forEach(categoria => { %>
                        <option value="<%= categoria.id %>" <%= producto.categoria_id == categoria.id ? "selected" : '' %>><%= categoria.categoria %></option>    
                    <% }) %>
                </select>
            </div>
            <% if (locals.mensajesError && locals.mensajesError.categoria){ %>
                <p class="feedback"><%=mensajesError.categoria.msg %></p>
            <% } %>
            <div class="info-prod">
                <label class="titulo-campo" for="sub-categoria">SUB CATEGORIA:</label>
                <select class="campo-informacion" name="subcategoria" id="sub-categoria">
                    <option value="" selected>ELEGIR</option>
                    <% subcategorias.forEach(subcategoria => { %>
                        <option value="<%= subcategoria.id %>" <%= producto.subcategoria_id == subcategoria.id ? "selected" : '' %>><%= subcategoria.subcategoria %></option>    
                    <% }) %>
                </select>
            </div>
            <% if (locals.mensajesError && locals.mensajesError.subcategoria){ %>
                <p class="feedback"><%=mensajesError.subcategoria.msg %></p>
            <% } %>
            <div class="info-prod">
                <label class="titulo-campo" for="estado">MARCA:</label>
                <select class="campo-informacion" name="marca" id="marca">
                    <option value="" selected>ELEGIR</option>
                    <% marcas.forEach(marca => { %>
                        <option value="<%= marca.id %>" <%= producto.marca_id == marca.id ? "selected" : '' %>><%= marca.marca %></option>    
                    <% }) %>
                </select>
            </div>
            <% if (locals.mensajesError && locals.mensajesError.marca){ %>
                <p class="feedback"><%=mensajesError.marca.msg %></p>
            <% } %>
            <div class="info-prod">
                <label class="titulo-campo" for="stock">STOCK:</label>
                <input type="text" class="campo-informacion" name="stock" id="stock" placeholder="STOCK" value=<%= producto.stock  %>>
            </div>
            <% if (locals.mensajesError && locals.mensajesError.stock){ %>
                <p class="feedback"><%=mensajesError.stock.msg %></p>
            <% } %>
            <div class="info-prod">
                <label class="titulo-campo" for="precio">PRECIO: $</label>
                <input type="text" class="campo-informacion" name="precio" id="precio"  placeholder="PRECIO" value=<%= producto.precio  %>>
            </div>
            <% if (locals.mensajesError && locals.mensajesError.precio){ %>
                <p class="feedback"><%=mensajesError.precio.msg %></p>
            <% } %>
            <div class="info-prod">
                <label class="titulo-campo" for="estado">ESTADO:</label>
                <select class="campo-informacion" name="estado" id="estado">
                    <option value="" selected>ELEGIR</option>
                    <% estados.forEach(estado => { %>
                        <option value="<%= estado.id %>" <%= producto.estado_id == estado.id ? "selected" : '' %>><%= estado.estado %></option>    
                    <% }) %>
                </select>
            </div>
            <% if (locals.mensajesError && locals.mensajesError.estado){ %>
                <p class="feedback"><%=mensajesError.estado.msg %></p>
            <% } %>
            <div class="info-prod">
                <label class="titulo-campo" for="precioAnt">DESCUENTO: % </label>
                <input type="text" class="campo-informacion" name="precioAnt" id="precioAnt" placeholder="DESCUENTO" value=<%= producto.descuento %>>
            </div>
            <% if (locals.mensajesError && locals.mensajesError.precioAnt){ %>
                <p class="feedback"><%=mensajesError.precioAnt.msg %></p>
            <% } %>
            <div class="info-prod">
                <label class="titulo-campo" for="caracteristicas">CARACTERISTICAS:</label>
                <textarea name="caracteristicas" class="campo-informacion campo-caracteristicas" id="caracteristicas" placeholder="TITULO1:DESCRIPCION1| TITULO2:DESCRIPCION2| ..."><%= producto.caracteristicas %></textarea>
            </div>
            <% if (locals.mensajesError && locals.mensajesError.caracteristicas){ %>
                <p class="feedback"><%=mensajesError.caracteristicas.msg %></p>
            <% } %>
            <span class="feedback errorFront errCar">Este campo debe tener como mínimo 20 caracteres</span>
            <h3 class="tituloCaracteristica">TAMAÑOS</h3>
            <ul class="opciones-prod">
                <% let tamaProd = [] %>
                <% producto.tamanos.forEach(elemento =>{ tamaProd.push(elemento.id) })%>
                <% tamanos.forEach(elemento => { %>
                    <li class="opcion-elegible">
                        <label for="<%= elemento.tamano %>">
                            <input type="checkbox" class="opcion" name="tamanos" id="<%= elemento.tamano %>" value="<%= elemento.id %>" <%= tamaProd.includes(elemento.id) ? "checked" : null %>>
                            <%= elemento.tamano %>
                        </label>
                    </li>
                <% }) %>
            </ul>
            <% if (locals.mensajesError && locals.mensajesError.tamanos){ %>
                <p class="feedback"><%=mensajesError.tamanos.msg %></p>
            <% } %>
            <h3 class="tituloCaracteristica">COLORES</h3>
            <ul class="opciones-prod">
                <% let colorProd = [] %>
                <% producto.colores.forEach(elemento =>{ colorProd.push(elemento.id) })%>
                <% colores.forEach(elemento => { %>
                    <li class="opcion-elegible">
                        <label for="<%= elemento.color %>">
                            <input type="checkbox" class="opcion" name="colores" id="<%= elemento.color %>" value="<%= elemento.id %>" <%= colorProd.includes(elemento.id) ? "checked" : null %>>
                            <%= elemento.color %>
                        </label>
                    </li>
                <% }) %>
            </ul>
            <% if (locals.mensajesError && locals.mensajesError.colores){ %>
                <p class="feedback"><%=mensajesError.colores.msg %></p>
            <% } %>
            <div class="botones">
                <input type="reset" value="Deshacer">
                <input type="submit" value="Confirmar">
            </div>
        </form>
        <h3 class="tituloCaracteristica">IMAGENES</h3>
        <ul class="imagenes">
            <% for(let i = 0; i < producto.imagenes.length; i++){ %>
                <li class="imagenProd">
                    <div class="info-imagen">
                        <img src="/images/productos/<%= producto.imagenes[i].imagen %>">
                        <% if (producto.imagenes.length > 2){ %>
                            <form class="edicionImagen" action="/products/prodMaster/edit/<%= producto.id %>/img/<%= producto.imagenes[i].id %>?_method=DELETE" method="POST" enctype="multipart/form-data">
                                <input type="submit" value="BORRAR"> 
                            </form>
                        <% } %>    
                    </div>
                </li>
            <% } %>    
        </ul>
        <div class="info-prod">
            <label class="titulo-campo" for="nuevasImagenes">AGREGAR IMAGENES</label>
            <form class="edicionImagen" action="/products/prodMaster/edit/<%= producto.id %>/img" method="POST" enctype="multipart/form-data">
                <input type="file" name="nuevasImagenes" id="nuevasImagenes" multiple>
                <input type="submit" value="AGREGAR"> 
                <% if (locals.mensajesError && locals.mensajesError.nuevasImagenes){ %>
                    <p class="feedback"><%=mensajesError.nuevasImagenes.msg %></p>
                <% } %>
            </form>
        </div>
    </div>
</main>
<script src="/js/newProduct.js"></script>
<%- include ("../partials/footer") %>