<%- include('../partials/header',{hojaDeEstilo:"/css/stylesCartEdit.css",titulo:"CARRITO DE COMPRAS"}) %>

<main>
    <div class="espacio-header"></div>
    <div class="titulo">
        <a href="/user/productCart"><button><i class="fa-solid fa-arrow-left"></i>VOLVER AL CARRITO</button></a>
    </div>
        <form action="/user/productCart/<%= idCart %>?_method=PUT" method="POST">
            <section class="grupo-productos">
                <article class="producto">
                    <a href="/products/<%= producto.id %>" class="imagen">
                        <img src="/images/productos/<%= producto.imagen %>" alt="Imagen Prod">
                    </a>
                    <div class="titulo-precio">
                        <h3 class="nombre-producto"><%=producto.productos.nombre %></h3>
                        <p class="precio-producto">$ <%=producto.productos.precio %></p>
                    </div>
                    <div class="detalle-pedido">
                        <div class="caracteristica">
                            <label for="color" id="color">COLOR</label>
                            <select name="color" id="color">
                                <% colores.forEach( color =>{ %>
                                    <option value="<%= color.id %>" <%= color.id == producto.color_id ? "selected" : null %>><%= color.color %></option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="caracteristica">
                            <label for="tamano" id="tamano">TAMAÑO</label>
                            <select name="tamano" id="tamano">
                                <% tamanos.forEach(tamano =>{ %>
                                    <option value="<%= tamano.id %>" <%= tamano.id == producto.tamano_id ? "selected" : null %>><%= tamano.tamano %></option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="caracteristica">
                            <label for="cantidad">CANTIDAD</label>
                            <select name="cantidad" id="cantidad">
                                <% if(infoProd.stock > 10){stockLimite = 10} else{stockLimite = infoProd.stock} %>
                                <% for (let i = 1; i<=stockLimite; i++) { %>
                                    <option value="<%= i %>" <%= i == producto.cantidad ? "selected" : null %>><%= i %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                </article>
            </section>
            <div class="final">
                <input type="submit" value="CONFIRMAR" id="pagar">
            <div>
        </form>
</main>

<%- include ("../partials/footer") %>