<%- include('../partials/header',{hojaDeEstilo:"/css/stylesCart.css",titulo:"CARRITO DE COMPRAS"}) %>

<main>
    <div class="espacio-header"></div>
    <div class="titulo">
        <h1> CARRITO </h1>
        <a href="/"><button><i class="fa-solid fa-arrow-left"></i>CONTINUAR COMPRANDO</button></a>
    </div>
    <% if (locals.carrito.length > 0){ %>
        <section class="grupo-productos">
            <% let totalPedido = 0 %>
            <% for (let i = 0; i < carrito.length; i++){ %>
                <article class="producto">
                    <a href="/products/<%= carrito[i].id %>" class="imagen">
                        <img src="/images/productos/<%= carrito[i].imagen %>" alt="Imagen Prod">
                    </a>
                    <div class="titulo-precio">
                        <h3 class="nombre-producto"><%=carrito[i].productos.nombre %></h3>
                        <p class="precio-producto">$ <%=carrito[i].productos.precio %></p>
                    </div>
                    <div class="detalle-pedido">
                        <div class="color-tamano">
                            <p><span class="titulo-estetica">COLOR: </span><span><%= carrito[i].colores.color %></span></p>
                            <p><span class="titulo-estetica">TAMAÑO: </span><span><%= carrito[i].tamanos.tamano %></span></p>
                            <p><span class="titulo-estetica">CANTIDAD: </span><span><%= carrito[i].cantidad %></span></p>
                        </div>
                    </div>
                    <p class="total-producto">$ <%= carrito[i].productos.precio * carrito[i].cantidad %></p>
                    <% totalPedido = totalPedido + (carrito[i].productos.precio * carrito[i].cantidad) %>
                    <div class="edicion">
                        <a href="/user/productCart/<%= carrito[i].id %>">Modificar</a>
                        <form action="/user/productCart/<%= carrito[i].id %>?_method=DELETE" method="POST">
                            <button type="submit" class="eliminar"><i class="fa-solid fa-trash-can"></i></button>
                        </form>
                    </div>
                </article>
            <% } %>
        </section>
        <section class="envio">
            <h3>ENVIO<i class="fa-solid fa-truck"></i></h3>
            <p class="direccion-envio">Calle Inventada 4586 Departamento 5 H</p>
            <a>Modificar</a>
        </section>
        <section class="total">
            <div class="items-totales">
                <span>TOTAL ARTICULOS</span><span>$ <%= totalPedido %></span>
                <span>ENVÍO</span><span>$ 1.520,00</span>
                <span class="total-pedido">TOTAL PEDIDO</span><span class="total-pedido">$ <%= totalPedido + 1,520 %></span>
            </div>
        </section>
        <div class="final">
            <input type="submit" value="PAGAR" id="pagar">
        <div>
    <% } else { %>
        <h2>NO SE HAN AGREGADO PRODUCTOS AL CARRITO</h2>
    <% } %>
</main>

<%- include ("../partials/footer") %>