<% let titulo = "BICIPAL " + usuario.nombre + " " + usuario.apellido %>

<%- include('../partials/header',{hojaDeEstilo:"/css/stylesProfile.css",titulo:titulo}) %>
<main>
    <div class="espacio-header"></div>
    <div class="info-usuario">
        <div class="imagen">
            <img src="/images/usuarios/<%= usuario.imagen %>">
        </div>
        <div class="detalle-usuario">
            <h2><%= usuario.nombre + " " + usuario.apellido %></h2>
            <h2>E-mail: <%= usuario.email %></h2>
            <h2>Fecha de Nacimiento: <%= usuario.fechaDeNacimiento %></h2>
            <h2>Intereses: <%= usuario.intereses %></h2>
        </div>
        <div class="info-tecnica">
            <h2>CATEGORIA: <%= usuario.categoria %></h2>
            <h2>MIEMBRO DESDE: <%= usuario.fechaAlta %></h2>
        </div>
    </div>
</main>

<%- include ("../partials/footer") %>